{% extends "base.html" %}
{% block content %}
<h1>Описание задания</h1>
<p>Целью этого проекта является создание уязвимого веб-приложения на Flask, уязвимого к:</p>
<ul>
  <li>Path Traversal при просмотре лог-файлов</li>
  <li>Небезопасному вызову <code>eval()</code> для вычисления выражений</li>
</ul>
<p>Ваша задача:</p>
<ol>
  <li>Запустить приложение в Docker или локально.</li>
  <li>Подтвердить наличие уязвимостей (проверить возможности Path Traversal и RCE через eval).</li>
  <li>Произвести патчинг кода для устранения уязвимостей.</li>
  <li>Протестировать исправления.</li>
</ol>
{% endblock %}
