{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Список комментариев</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Пользователь</th>
                <th>Комментарий</th>
                <th>Книга</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.username }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.book_title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('comments.add_comment') }}" class="btn btn-success">Добавить комментарий</a>
</div>
{% endblock %}
